#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p staging
	cp -r ../teacher-console/pars_teacher staging/
	cp -r ../shared/pars_shared staging/

override_dh_auto_clean:
	rm -rf staging
